.home-content
  %h1 Welcome to the Bike Shop Order Tracker

  %p
    Current Status:
    %span.unpaid= "#{pluralize(@unpaid_order_count, 'unpaid order')}"
    and
    %span.unfinished= "#{pluralize(@unfinished_order_count, 'unfinished order')}"

  %p
    = link_to 'See all open orders', orders_path, class: 'button'
