%h1 Orders

- if flash[:notice].present?
  %flash= flash[:notice]

%table.orders
  %tr
    %th Customer name
    %th Customer email
    %th Brand
    %th Frame
    %th Description
    %th Price
    %th.center Completed on
    %th.center Paid for on
    %th

  - @orders.each do |order|
    %tr
      %td= order.customer_name
      %td= order.customer_email
      %td= order.frame.brand.name
      %td= order.frame.name
      %td= order.description
      %td= number_to_currency(order.price)
      %td.center
        - if order.completed_on.blank?
          = link_to 'Mark Completed', mark_completed_order_path(order), method: :post, class: 'button'
        - else
          = order.completed_on.to_formatted_s(:short_date)
      %td.center
        - if order.paid_for_on.blank?
          = link_to 'Mark Paid', mark_paid_order_path(order), method: :post, class: 'button'
        - else
          = order.paid_for_on.to_formatted_s(:short_date)
      %td.actions
        = link_to 'Show', order, class: 'button-small show'
        = link_to 'Edit', edit_order_path(order), class: 'button-small edit'
        = link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button-small delete'
      %td

%br

= link_to 'New Order', new_order_path
