%p#notice= notice

%p
  %b Name:
  = @brand.name
%p
  %b Orders:
  - if @brand.orders.any?
    %ul
      - @brand.orders.each do |order|
        %li= link_to "Order #{order.id}", order_path(order)

  - else
    No current orders.

= link_to 'Edit', edit_brand_path(@brand)
\|
= link_to 'Back', brands_path
